h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(116, 145, 113);
    text-transform: uppercase;
    text-align: center;
    border: double white 10px;
    padding: auto;
    margin: auto;
    width:50%;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(196, 123, 123);
    color:white;
    text-transform: uppercase;
    text-align: left;
    border: solid white 5px;
    padding: 5px;
    margin: 10px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: wheat;
    margin: 30px auto;
    padding: 10px;
    width: 60%;
}

.auto1{
    color: white;
    text-align:center;
    margin: auto;
    padding: auto;
    background-color: indianred ;
    width: 50%;
  }

.auto2{
    color: white;
    text-align: center;
    margin: 20px auto;
    padding: auto;
    background-color: indianred;
  }

  .auto3{
    color: white;
    text-align: center;
    margin: auto 20px 10px auto;
    padding: auto;
    background-color: indianred;
    width: 50%;
  }

  .auto4{
    color: white;
    text-align: center;
    margin: 20px auto 30px auto;
    padding: auto;
    background-color: indianred;
    width: 50%;
  }

  .pauto1{
    color: white;
    text-align: center;
    padding: auto;
    background-color: rgb(84, 177, 104);
    width: 50%;  
  }

  .pauto2{
    color: white;
    text-align: center;
    padding: 20px auto;
    background-color: rgb(84, 177, 104);
    
  }

  .pauto3{
    color: white;
    text-align: center;
    padding: auto 20px 10px auto;
    background-color: rgb(84, 177, 104);
    width: 50%;
  }

  .pauto4{
    color: white;
    text-align: center;
    padding: 20px auto 30px auto;
    background-color: rgb(84, 177, 104);
    width: 50%;
  }